@tailwind base;
@tailwind components;
@tailwind utilities;

/* CHECKBOX */
.MuiCheckbox-root {
    padding: 0px!important;
}

/* LIST */
.RaList-actions {
    margin-bottom: 15px;
    margin-top: 20px;
}

.MuiTableBody-root .MuiTableCell-root {
    padding-bottom: 0px!important;
    padding-top: 0px!important;
}

.MuiTableBody-root tr:nth-child(even) {
    background-color: #e7edf933;
}

.Typography-cell {
    display: -webkit-box;
    line-height: 45px!important;
    letter-spacing: 0.3px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}